body, html {
    margin: 0;
  }

  
h1{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #353535;
    text-align: center;
    margin:5%;
    margin-top: 8%;
}

h2{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #353535;
    text-align: center;
    margin:5%;
}

h3{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #353535;
    padding: 8%;
    padding-bottom: 0%;
    margin:0%;
}

h4{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #353535;
    padding: 8%;
    padding-top: 0%;
    margin:0%;
}

a{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    text-decoration: none;

}

.header{
    background-color: #ecefe9;
    margin:0%;
    height: 350px;
    background-size: auto;
    width:fit-content;
    margin-bottom: 8%;
}

.top {
    background-color: #768a50;
    height:300px;
    background-size: auto;
    width: fit-content;
    margin: 0%;

}

.liste{ /*knappen dokument-liste*/
    background-color: #8a5076;
    color: #353535;
    border-radius: 8px;
    padding:3%;
    margin-left: 8%;

}

.videocontainer{
    background-color: #bcc4ab;
    background-size: auto;
    width: fit-content;
    margin: 0%;
    padding-top: 15%;

}
 
.videobtn{  /*som curtain*/
    margin-left: 63%;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 8%;
    margin-top: -110px;
    padding-bottom: 13%;
    z-index: 3;
    border-radius: 5px;
  }

.block-video{
    width: 38%;
    height: 150px;
    margin-left: 58%;
    margin-top: -8%;
    background-color: #8a5076;
    border-radius: 8px;
}

.center {
    background-color: #ecefe9;
    background-size: auto;
    height:375px;
    padding:5%;
    width: auto;
    margin: 0%;
    margin-bottom: 8%;

}

.block-center{
    width: 88%;
    height: 250px;
    margin-left: 3%;
    margin-top: 0%;
    background-color: #8a5076;
    border-radius: 8px;
}

.søg{
    background-color: #768a50;
    color: #353535;
    border-radius: 8px;
    padding:3%;
    margin-left: 35%;
    
}

.bottom {
    background-color: #768a50;
    background-size: auto;
    width: auto;
    height:375px;
    margin: 0%;

}


/*

@media screen and (min-width: 750px){ /* media queries til tablet*/
  /*  * {
      padding: 0px;
    } 
} 
@media screen and (min-width: 1400px){ /*media queries til desktop*/
  /*  * {
        padding: 0px;
    } 
}

*/