body, html {
    margin: 0;
  }

  
h1{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #353535;
    text-align: center;
    margin:5%;
    margin-top: 8%;
}

h2{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #353535;
    text-align: center;
    margin:5%;
    margin-top: 10%;
    padding-bottom: 10%;
}

h3{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    padding: 10%;
    padding-bottom: 0%;
    margin:0%;
}

h4{
    position: absolute;
    z-index: 4;
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    margin-left:10%;
    margin-right: 5%;
}

h5{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #353535;
    margin-left: 10%;
    padding-top: 6%;
}


.logo{ 
    margin-top: 4%;
    margin-left: 4%;
}

a{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #353535;
    text-decoration: none;
    padding:5%;
    
}

p{
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #353535;
    padding: 8%;
    padding-top: 0%;
    margin:0%;
}


.header{ /*øverste del af siden indeholdene logo,link og tekst*/
    background-color: #ecefe9;
    height:fit-content;
    background-size: auto;
    width:auto;
    margin-bottom: 8%;
}

.om{ /*"om os" knappen*/
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: #768a50;
    color: #353535;
    border-radius: 5px;
    padding:2%;
    margin-left: 6%;
}

.om:hover {
    opacity: 0.7;
}

.fa { /*styling ikoner*/
    padding: 20px;
    font-size: 30px;
    width: 13px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
  }
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-linkedin { /*linkedin ikon*/
    background: #007bb5;
    color: white;
    padding:2%;
    
}

.fa-facebook { /*facebook ikon*/ 
    background: #3B5998;
    color: white;
    padding:2%;
}



.top { /*tekst del med link til PDF fil*/
    background-color: #768a50;
    height:280px;
    background-size: auto;
    width: auto;
    margin: 0%;
}

.liste { /*knappen "dokument-liste" PDF fil*/
    position: absolute;
    top:54%;
    left:10%;
    background-color: #8a5076;
    color: #353535;
    border-radius: 5px;
    padding:3%;
    box-shadow: 2px 2px 10px #353535;
    
}

.videocontainer{ /*sektion med video*/
    background-color: #bcc4ab;
    background-size: auto;
    width: fit-content;
    margin: 0%;
    padding-top: 15%;

}

.videobtn{ /*knap til afspilning af video*/
    position: absolute;
    margin-left: 58%;
    margin-top: -6%;
}

.block-video{ /*kassen bag videoen*/
    width: 38%;
    height: 150px;
    margin-left: 58%;
    margin-top: -8%;
    background-color: #8a5076;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #353535;
}

.video{ /*placeholder til video*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-bottom: 8%;
    margin-top: -110px;
    padding-bottom: 13%;
    z-index: 3;
    border-radius: 5px;
}

.center { /*center sektionen */
    display: block;
    background-color: #ecefe9;
    background-size: auto;
    height:480px;
    padding:5%;
    padding-top: 10%;
    width: auto;
    margin: 0%;
    margin-bottom: 8%;
}

.block-center{ /*kassen bag "detailskasserne */
    position: relative;
    z-index: 1;
    width: 90%;
    height: 350px;
    margin-right: 5%;
    margin-left: 2%;
    margin-top: -6%;
    background-color: #8a5076;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #353535;
}

.center p { /*overskriften til center sektionen*/
    position: absolute;
    z-index: 4;
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    padding:5%;
}

.container {  /*placeholder til summary*/
    position: relative;
    margin-top:-330px;
    margin-left: 8%;
    width: auto;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.container p{
    font-size: 12px;
}

summary { /*boks med vis og skjul funktion kilde:https://www.w3schools.com/tags/tag_summary.asp*/
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 18px;
    width: auto;
    border-bottom: #353535 solid 1px;
    background-color: #bcc4ab;
    border-radius: 4px;
    cursor: pointer;
}
  
details  p{ /*kilde: https://www.w3schools.com/tags/tag_details.asp*/
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 6px;
    font-weight: 400;
    line-height:1.5em;
    background-color: #bcc4ab;
    width: auto;
    margin: 0;
}
  
.søg{ /*knappen "søg uddannelseshjælp*/
    background-color: #768a50;
    color: #353535;
    border-radius: 5px;
    padding: 2% 0;
    margin-left: 45%;
    margin-top: 10%;
    box-shadow: 2px 2px 10px #353535;

}

.bottom { /*sektion nederst på siden*/
    background-color: #768a50;
    background-size: auto;
    width: auto;
    height:485px;
    margin: 0%;
}

.block-kontakt{ /*information sektion*/
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    padding-top:5%;
    width: 80%;
    height: 360px;
    background-color: #ecefe9;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #353535;

}

.block-kontakt p{
    font-size: 14px;
}

.footer{ 
    width: auto;
    background-color: #353535;
    font-family: montserrat, merienda, Vast_shadow, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #ecefe9;
    text-align: center;
    padding: 3%;
}


@media screen and (min-width: 750px){ /* media queries til tablet*/
* {
    padding: 0px;
} 
.header{ 
    height: 370px;
    margin-bottom: 4%;
}

h2{
    margin:10%;
    margin-top: 8%;
}

h4{
    margin-left:5%;
    margin-right: 60%;
    margin-top: 5%;

}

h5{
    padding-top: 8%;
    padding-bottom: 3%;
}

.om{ 
    border-radius: 5px;
    margin-left: 42%;
}

.fa-linkedin { 
    padding:2%;
    
}

.fa-facebook { 
    padding:2%;
}

.top { 
    float: left;
    width: 50%;
    height: 380px;
}

.liste{ 
    padding:2%;
    margin-left: -5%;
    margin-top: 10%;
}

.videocontainer{ 
    width: 50%;
    float: right;
    height: 265px;
}

.videobtn { 
    margin-left: 17%;
    margin-top: -11%;
}

.block-video{ 
    width: 50%;
    height: 220px;
    margin-left: 38%;
    margin-top: -20%;
}

.video{ 
    width: 100%;
    margin-left:-20%;
    margin-top: -45%;
}
.center { 
    height:850px;
    margin-bottom: 4%;
}

.block-center{ 
    width: 50%;
    height: 318px;
    margin-right: 5%;
    margin-left: 2%;
    margin-top: 55%;
}

.container { 
    margin-top:-260px;
    margin-left: 15%;
}

  
details  p{ 
    width: 297px;
    padding-top:2%;
}

summary{
font-size: 14px;
width: 320px;
}
    
.søg{ /**/
    width:28%;
    padding:2% 0;
    margin-left: 70%;
    margin-top: -7%;
}

.bottom { 
    height:480px;
}

.block-kontakt{ 
    height: 320px;
    width: 90%;
}

.block-kontakt p{
    font-size: 16px;
    display: inline-flex;
}

} 
@media screen and (min-width: 1024px){ /*media queries til desktop*/
    * {
        padding: 0px;
    } 

.header{ 
    height: fit-content;
    margin-top: 4%;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 20px;
    margin:12%;
    padding-bottom: 12%;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 16px;
    margin-left:10%;
    margin-right:42%;
    margin-top: 8%;
}

h5{
    padding-top: 6%;
    padding-bottom: 3%;
}

.om{ 
    border-radius: 5px;
    padding:1%;
    margin-left: 57%;
}

.fa-linkedin { 
    padding:1%;
}

.fa-facebook { 
    padding:1%;
}

.top { 
    position: absolute;
    width: 45%;
    height: 374px;
    margin-top: -14%;
    border-radius: 5px;
    margin-left: 10%;
}

.liste{ 
    margin-left: 0%;
    margin-top: 15%;
}

.videocontainer{ 
    width: 40%;
    height: 160px;
    margin-top: -8%;
    margin-right: 14%;
    border-radius: 5px;
}

.videobtn { 
    margin-left: 19%;
    margin-top: -9%;
    padding: 0%;
    
}

.block-video{ 
    width: 40%;
    height: 190px;
    margin-left: 43%;
    margin-top: -30%;
}

.video{ 
    position: absolute;
    width: 35%;
    margin-left:-8%;
    margin-top: -15%;
}

.center { 
    margin-top: 40%;
    height:fit-content;
    margin-bottom: 4%;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.block-center{ 
    width: 45%;
    margin-right: 5%;
    margin-left: 10%;
    margin-top: -10%;
}

.container { 
    margin-top:-260px;
    margin-left: 23%;
}

summary{
    font-size: 14px;
    width: 360px;
    }
    
details  p{ 
    width: 333px;
    padding-top:2%;
}

    
.søg{ 
    width:25%;
    padding: 1% 0%;
    margin-left: 77%;
    margin-top: -4.5%;
}

.bottom { 
    height:fit-content;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    padding-bottom: 5%;
    border-radius: 5px;
}

.block-kontakt{ 
    height: fit-content;
}

.block-kontakt p{
    font-size: 16px;
    display: inline-flex;
}


} 
@media screen and (min-width: 1400px){ /*media queries til desktop*/
    * {
        padding: 0px;
    } 

h4{
    margin-top: 12%;
}

.top { 
    width: 40%;
    height: 478px;
    margin-top: -13%;
    margin-left: 14%;
}

.liste{ 
    margin-left: 0%;
    margin-top: 15%;
}

.videocontainer{ 
    width: 40%;
    height: 190px;
}

.videobtn { 
    margin-left: 17%;
    margin-top: -10%;
}

.block-video{ 
    height: 255px;
    margin-left: 40%;
    margin-top: -30%;
}

.video{ 
    position: absolute;
    width: 35%;
    margin-left:-8%;
    margin-top: -15%;
}

.center { 
    margin-top: 36%;
}

.block-center{ 
    width: 35%;
    margin-right: 5%;
    margin-left: 10%;
    margin-top: -10%;
}

.container { 
    margin-top:-260px;
    margin-left: 25%;
}

summary{
    font-size: 14px;
    width: 380px;
    }
    
details  p{ 
    width: 330px;
}

    
.søg{ 
    width:18%;
    padding: 1% 0%;
    margin-left: 75%;
    margin-top: -3.5%;
}
    
}

@media screen and (min-width: 1920px){ /*media queries til desktop*/
    * {
        padding: 0px;
    } 

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
    margin:18%;
    margin-top: -10px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
    margin-left:10%;
    margin-right:42%;
    margin-top: 8%;
}

h5{
    font-size: 24px;
    margin-left: 10%;
}

.top { 
    height: 574px;
    margin-top: -17.5%;
}

.liste{ 
    margin-left: 0%;
    margin-top: 15%;
}

.videocontainer{ 
    height: 190px;
    margin-top: -12.5%;
}

.videobtn { 
    font-size: 20px;
    margin-left: 14.5%;
    margin-top: -11.5%;
}

.block-video{ 
    width:38%;
    height: 280px;
    margin-left: 34%;
    margin-top: -33%;
}

.video{ 
    width: 31%;
    margin-top: -12%;
}

.center { 
    margin-top: 32%;
}

summary{
    width: 500px;
}

details  p{ 
    width: 421px;
}

.søg{ 
    width:15%;
}

.block-kontakt p{
    font-size: 20px;
}

}